@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f9fafb;
  background-image: linear-gradient(315deg, #f9fafb 0%, #f9fafb 74%);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#download {
  background-color: #7cffcb;
  background-image: linear-gradient(315deg, #65cea4 0%, #51a890 74%);
  border: none;
  color: white;
  padding: 19px 30px;
  text-align: center;
  text-decoration: wavy;
  display: inline-block;
  font-size: 21px;
  margin: 70px 0px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bolder;
}

input {
  width: 50%;
  font-family: "Roboto", sans-serif;
  font-size: 2px;
  padding: 16px 30px;
  margin: 30px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"] {
  font-size: 24px;
}

input::placeholder {
  font: 22px/3;
  font-family: "Roboto", sans-serif;
}

button:hover {
  opacity: 0.8;
  border-radius: 10px;
}

input:focus {
  border: 3px solid #555;
}

iframe {
  border-radius: 10px;
  scroll-behavior: none;
  border: none;
  overflow: hidden;
  min-height: 360px;
  height: 360px;
}
