@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://demos.creative-tim.com/argon-design-system/assets/css/argon-design-system.min.css?v=1.2.0');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f9fafb;
  background-image: linear-gradient(315deg, #f9fafb 0%, #f9fafb 74%);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

p {
  font-family: "Indie Flower", cursive;
  font-size: larger;
}

#button {
  background-color: #87ceeb;
  background-image: linear-gradient(315deg, #87ceeb 0%, #408fae 74%);
  border: none;
  color: white;
  padding: 19px 30px;
  text-align: center;
  text-decoration: wavy;
  display: inline-block;
  font-size: 21px;
  margin: 70px 0px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bolder;
}

input {
  width: 50%;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  padding: 16px 30px;
  margin: 30px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 800px;
}

input[type="text"] {
  font-size: 24px;
  background-color: #374151;
}

input,
select,
textarea {
  color: white;
}

input::placeholder {
  font: 22px/3;
  font-family: "Roboto", sans-serif;
}

iframe {
  border-radius: 10px;
  scroll-behavior: none;
  border: none;
  display: block;
  overflow: hidden;
  background-color: transparent;
}
